language: python

python:
- '2.7'
- '3.3'
- '3.4'
- '3.5'
- '3.6'

services:
- mongodb

node_js: node

cache:
  pip: true
  directories:
  - reactjs/node_modules

before_install:
- pip install -r flask/requirements.txt
- pip install -r flask/test-requirements.txt
- npm install -C reactjs/ --only=prod
- npm install -C reactjs/ --only=dev

script:
- nosetests -w flask/
- npm test -C reactjs/
